<button (click)="goToDashboard()" class="return-button">Powrót</button>
<div class="users">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nazwa </th>
            <td mat-cell *matCellDef="let user"> {{user.userName}}</td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let user"> {{user.emailAddress}} </td>
        </ng-container>

        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef> Typ </th>
            <td mat-cell *matCellDef="let user"> {{user.role | userRole}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>
              Opcje
            </th>
            <td mat-cell *matCellDef="let user">
              <div [matMenuTriggerFor]="tableMenuAction">
                <mat-icon>format_list_bulleted</mat-icon>
              </div>
              <mat-menu #tableMenuAction="matMenu" xPosition="before">
                <button mat-menu-item (click)="changeRole(user)">
                  Zmień rolę
                </button>
              </mat-menu>
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
