<div class="password-form">
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
        <input type="password" placeholder="Stare hasło" formControlName="oldPassword">
        <input type="password" placeholder="Nowe hasło" formControlName="newPassword">
        <input type="password" placeholder="Powtórz hasło" formControlName="confirmPassword">
        <button [disabled]="!changePasswordForm.valid" type="submit">Zmień hasło</button>
    </form>
    <button (click)="cancel()">Anuluj</button>
</div>
