
@media only screen and (max-width: 768px) {
    .password-form {
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 769px) {
    .password-form {
      width: 40%;
    }
  }

  .password-form {
    margin: auto;
  }

input[type=password] {
    width: 100%;
    padding: 2em 3em;
    margin: 1em 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #1050F0;
    color: white;
    padding: 2em 3em;
    margin: 1em 0;
    border: none;
    border-radius: 1em;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #10A0F0;
  }

  button:disabled {
    background-color: grey;
  }
  

  button:disabled:hover {
    background-color: grey;
  }