<button (click)="goToDashboard()" class="return-button">Powrót</button>

<button (click)="add()" class="return-button">Dodaj nową pozycję</button>
<button (click)="getReport()" class="return-button">Pobierz raport</button>
<h2>Bilans: {{balance | number:'.2'}}</h2>
<div class="positions">
  <input id="year" class="period" placeholder="Rok" type="number" min="2020" max="2999" [(ngModel)]="year">
  <input id="month" class="period" placeholder="Miesiąc" type="number" min="1" max="12" [(ngModel)]="month">
  <button class="period-button" (click)="getPositions()">Pobierz pozycje</button>
  <input matInput (keyup)="applyFilter($event)" placeholder="Wyszukaj" #input>
</div>
<div class="positions">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nazwa </th>
            <td mat-cell *matCellDef="let position"> {{position.name}}</td>
        </ng-container>

        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Kwota </th>
            <td mat-cell *matCellDef="let position"> {{position.amount}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Data </th>
            <td mat-cell *matCellDef="let position"> {{position.date | date: 'dd-MM-yyyy HH:mm'}} </td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Typ </th>
            <td mat-cell *matCellDef="let position"> {{position.positionType | positionType}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Opis </th>
            <td mat-cell *matCellDef="let position"> {{position.description}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>
              Opcje
            </th>
            <td mat-cell *matCellDef="let position">
              <div [matMenuTriggerFor]="tableMenuAction">
                <mat-icon>format_list_bulleted</mat-icon>
              </div>
              <mat-menu #tableMenuAction="matMenu" xPosition="before">
                <button mat-menu-item (click)="edit(position)">
                  Edytuj
                </button>
                <button mat-menu-item (click)="delete(position.id)">
                    Usuń
                </button>
              </mat-menu>
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>